.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    
    padding-top: 8px;

    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
}

.busca,
.menu-departamentos {
    float: left;
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.destaque {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.novidades {
    float: left;
    
    background-color: #f5dcdc;
}

.mais-vendidos {
    float: right;

    background-color: #dcdcf5;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-image: url(../img/fundo-rodape.png);

    clear: both;

    padding: 20px 0;
}

.social a {
    height: 32px;
    width: 32px;

    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.busca button {
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;

    width: 20px;
    height: 20px;

    text-indent: -9999px;
}