.cores label::after {
    content: '';
    display: block;

    border-radius: 50%;
    width: 50px;
    height: 50px;

    box-sizing: border-box;
}

label[for=verde]::after {
    background-color: #33cc66;
}

label[for=rosa]::after {
    background-color: #ff6666;
}

label[for=azul]::after {
    background-color: #6666ff;
}

.cores input:checked + label::after {
    border: 6px solid rgba(0, 0, 0, 0.3);
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores label::after {
    position: absolute;
    top: 30px;
}

.cores {
    position: relative;
    padding-top: 90px;
}

label[for=verde]::after {
    left: 0;
}

label[for=rosa]::after {
    left: 60px;
}

label[for=azul]::after {
    left: 120px;
}

.cores label img {
    display: block;
    max-width: 100%;
}

.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase;
}

.comprar {
    background: #91bd3c;
    border: none;
    color: #333;

    font-size: 1.4em;
    text-transform: uppercase;

    box-shadow: 0 1px 3px #777;

    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.cores label::after {
    cursor: pointer;
}