body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    padding: 10px;
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    margin-top: 30px;
    border-bottom: 2px solid #333333;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    padding: 15px;
    margin: 30px;
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

/*

p::first-letter {
    font-weight: bold;
}

h1 + p {
    text-indent: 0;
}

p::first-line {
    font-variant: small-caps;
}

*/