body {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    padding: 10px;
    background-image: url(../img/sobre-background.jpg);
}

h2 {
    margin-top: 30px;
    border-bottom: 2px solid #333333;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

figure {
    padding: 15px;
    margin: 30px;
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}